.App {
  max-width: 860px;
  margin: auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-right: 2rem;
  height: 3rem;
  margin-top: 1rem;
}
button:hover {
  background: #ffe401;
  color: #000000;
  transition: all 0.5s
}

.card-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr;
  grid-gap: 32px;
  justify-content: center;
  padding: 0%;
}

@media (max-width: 800px) { 
  .card-grid{

    grid-template-columns: 0fr 0fr 0fr;
  }
  .App h1 {
    font-size:xx-large;
  }
}